@import "../../../../../assets/styles/scss/mixins";
@import "../../../../../assets/styles/scss/variables";

.main {
  margin: 160px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .textBlock {
    max-width: 700px;
    text-align: center;

    .title {
      margin: 0;
      @include titleText();
    }

    .text {
      @include descriptionText();
      padding: 24px 0 0;
      margin: 0;
    }
  }

  .buttonBlock {
    padding: 40px 0 0;
  }

}