@import "src/assets/styles/scss/mixins";
@import "src/assets/styles/scss/variables";

.main {
  padding: 40px 0 0;

  .item {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 160px 0 0;

    //&:nth-child(even) {
    //  margin: 160px 0 0;
    //  flex-direction: row-reverse;
    //}

    .textBlock {
      max-width: 586px;

      .title {
        @include titleText();
        margin: 0;
      }

      .description {
        @include descriptionText();
        margin: 0;
        padding: 24px 0 0;
      }
    }

  }
}