@import "src/assets/styles/scss/mixins";
@import "src/assets/styles/scss/variables";

.main {
  background: $lightBackground;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 96px 34px;
  border-bottom: 1px solid #ebedf0;

  .content {
    max-width: 1200px;
  }
}