@import "src/assets/styles/scss/mixins";
@import "src/assets/styles/scss/variables";

.main {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .moreBlock {
    padding: 172px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
      padding: 0 0 24px;
    }

    .text {
      @include text(17px, 400, 22px, #ffffff);
      text-align: center;
      padding: 0 0 48px;
    }

  }

  .slide {
    width: 400px;
    text-align: center;
    color: #ffffff;
  }

}