@import "src/assets/styles/scss/mixins";
@import "src/assets/styles/scss/variables";

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px 8px;

  .photo {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
  }
}