@import "src/assets/styles/scss/mixins";
@import "src/assets/styles/scss/variables";

.main {
  display: flex;
  flex-direction: column;
  &:nth-child(1) {
    .photo {
      height: 500px;
      width: 500px;
    }
  }

  .photo {
    border-radius: 10px;
    height: 250px;
    width: 250px;
    background-position: center;
    background-size: cover;
  }

  .title {
    margin: 0;
  }

  .price {

  }
}