$lightBackground: #f9f9f9;
$secondBgColor: #ffffff;
$lightBackground: #f9f9f9;

$blueText: #4986cc;

$lightTextColor: #ffffff;
$titleColor: #000000;
$textColor: #6d7885;
$footerTitle: #2c2d2e;
$footerLink: #818c99;

$textFamily: 'Roboto', sans-serif;
